@import "tailwindcss";

body {
  margin: 8px;
  color: #000;
  font-family: serif;
}

h1 {
  margin-block: 0.67em;
  font-size: 2em;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@theme {
  --animate-logo-spin: logo-spin infinite 20s linear;

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}